app = 'nsofm-physical-gift-cards'
primary_region = 'lhr'

[build]

[env]
  PORT = "3000"
  HOST = "0.0.0.0"
  NODE_ENV = "production"
  DATABASE_URL = "file:/data/database.sqlite"
  SHOPIFY_APP_URL = "https://nsofm-physical-gift-cards.fly.dev"
  SCOPES = "read_products,write_gift_cards,read_orders,write_orders,read_customers,write_customers"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "data"
  destination = "/data"
